<header>
    <img 
        src="assets/mim/matheus.jpg" 
        alt="Matheus Rocha - Perfil"
        height="130px"
        width="130px"
        loading="eager"
    />
    <h1>Matheus Rocha de Souza</h1>
</header>
<aside>
    <div class="container">
        <p>Full Stack | .NET Core | ASP.NET Core | Angular | MySQL | SqlServer</p>
        <p>Rio das Ostras, RJ, Brasil</p>
        <p>
            Estudante de Análise e Desenvolvimento de Sistemas.
            Estudo por conta própria para aprimorar meus conhecimentos.
            E no momento estou focando no desenvolvimento de web API's com ASP.NET Core e Angular.
        </p>

        <nav>
            <ul>
                <li>
                    <a href="assets/pdf/cv.pdf" target="_blank" class="btn btn-primary">
                        Download CV
                    </a>
                </li>
                
                <li>
                    <a href="https://br.linkedin.com/in/matheus-rocha-de-souza" target="_blank" class="btn btn-secondary">
                        LinkedIn
                    </a>
                </li>
            </ul>
        </nav>

        <section>
            <figure>
                <img 
                    src="assets/icons/whatsapp.svg" 
                    alt="icone do whatsapp"
                    width="22px"
                    height="24px"
                />

                <figcaption>
                    <a 
                        href="https://api.whatsapp.com/send?phone=5522998662757&text=Ol%C3%A1%20Matheus"
                        target="_blank">
                        <strong>Envie uma mensagem para:</strong>
                        <p>WhatsApp:(22)998662757</p>
                    </a>
                </figcaption>
            </figure>

            <figure>
                <img 
                    src="assets/icons/mail.svg" 
                    alt="icone de email"
                    width="22px"
                    height="24px"
                />

                <figcaption>
                    <a 
                        href="mailto:rdesouzamatheus@gmail.com"
                        target="_blank">
                        <strong>Envie um e-mail para:</strong>
                        <p>rdesouzamatheus&#64;gmail.com</p>
                    </a>
                </figcaption>
            </figure>
        </section>

    </div>
</aside>